root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{mts,ts,js,mjs}]
indent_style = space
indent_size = 2

[*.{css}]
indent_style = space
indent_size = 2

[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

[*.{md}]
indent_style = space
indent_size = 2
