/examples/**/dist
/packages/**/dist
/tests/dist

.rsync-filter
.DS_Store

# Rust
/target/

# NAPI-rs
/napi-artifacts/

# JS
node_modules
*.tsbuildinfo
npm-debug.log

# Editors
/.idea/
/.vscode/
!/.vscode/settings.json
